/* Universal Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}





/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  padding: 2rem;
}

header #desktopLogo {
  flex: 1;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header #desktopLogo {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: 1rem;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 1rem;
  }

/* Banner Section */

#mainBanner {
  height: 100%;
  width: 100%;
  background-color: gray;
}


/* Info Section */




/* Course Section */




/* Thesis Section */




/* Footer */
